parameters:
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '/Method Nedac\\SyliusHighestOrderShipmentTaxRatePlugin\\DependencyInjection\\NedacSyliusHighestOrderShipmentTaxRateExtension::load\(\) has parameter \$config with no value type specified in iterable type array./'
